*{
    margin: 0px;
    padding:0px;
}
a{
    text-decoration:none;
   color: #333333;
}

#wrap{
    width:1200px;
    
    /* background-color: red; */
    margin: 0 auto;
}

.header{
    width:100%;
    height:230px;
    /* background-color: antiquewhite; */
}
.menu{
    width:100%;

}
.slide{
    width:100%;
    height:400px;
    background-color: rgb(221, 246, 255);
}
.gonggall{
    width:100%;
    height:300px;
    /* background-color: rgb(224, 141, 206); */
    position: relative;

}
.contents{
    width:100%;
    height:400px;
    /* background-color: rgb(46, 220, 255); */
   
}
.now{
    width:100%;
    height:400px;
    background-color: rgb(221, 246, 255);
    text-align: center;
    line-height: 400px;
}
.mail{
    width: 100%;
    height: 300px;
    /* background-color: yellow; */
    margin-top: 30px;
}
.footer{
    width:100%;
    height:220px;
    background-color: #44B88D;
}
.logo{
    width:100%;
    height:50px;
    /* background-color: blueviolet; */
    margin: 0 auto;
  
}
h1{
    margin: 0 auto;
    margin-left:36%;
    margin-top:0px;
    font-size:58px;
}
.joinlog{
    width: 100%;
    height: 50px;
    /* background-color: cornflowerblue; */
}
ul{
    list-style: none;
}
.join{
    
    margin-left: 1000px;
    font-size:13px;
    float: left;
    /* margin-top: -55px; */
}
.join>li{
    float: left;
    margin-left: 30px;
    margin-top:20px;
}

.menus{
    width:100%;
    height:50px;
    /* background-color: aquamarine; */

}
.menu{
    width:200px;
    height:50px;
    background-color: #44B88D;
    float: left;
    margin-left: 0px;
    text-align: center;
    line-height:50px ;
    font-weight: bold;
    font-size:18px;
}
.submenu{
    font-size: 16px;
    font-weight: lighter;
    /* border-left: 1px solid rgb(73, 107, 107);
    border-right: 1px solid rgb(73, 107, 107);; */
    display: none;
}
.submenu>li{
    width:200px;
    height:50px;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid #44B88D;
}
.submenu>li:hover{
    background-color: #44B88D;
    color:white;
}
.submenu>li a{
    display: block;
}
.submenu>li a:hover{
    background-color: #44B88D;
    color:white;
}
.gonggipan{
    width:600px;
    height:300px;
    /* background-color: bisque; */
    position: absolute;
    top:50px;
    
}
.munuipan{
    width:600px;
    height: 300px;
    /* background-color: blueviolet; */
    position: absolute;
    top:50px;
}
.zindexgong{
    width: 600px;
    background-color: white;
    position: absolute;
    top:10px;
    z-index: 2;
}
.zindexmun{
    width: 600px;
    background-color: white;
    position: absolute;
    top:10px;
    z-index: 1;
}

.youtube{
    width:600px;
    height: 300px;
    /* background-color: rgb(43, 226, 134); */
}
.gonggi{
    width:300px;
    height:50px;
    border-bottom: 1px solid #44B88D;
    position: absolute;
    top: -50px;
    
   
}
.gonggi>div{
    width:250px;
    height:50px;
    /* background-color: #34a0a4; */
    line-height: 50px;
    text-align: center;
   
}
.gonggi:hover{
    background-color: #44B88D;
}
.gonggi>p{
    width:50px;
    height:50px;
    /* background-color: #B4BDFF; */
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:250px;
}
.munui{
    width:300px;
    height:50px;
    /* background-color: #B4BDFF; */
    border-bottom: 1px solid #44B88D;
    line-height: 50px;
    text-align: center;
    margin-left: 300px;
    position: absolute;
    top:-50px;
}
.munui>div{
    width:250px;
    height:50px;
    /* background-color: #B4BDFF; */
    line-height: 50px;
    text-align: center;
    /* float: left; */
   
}
.munui:hover{
    background-color: #44B88D;
}
.munui>p{
    width:50px;
    height:50px;
    /* background-color: #B4BDFF; */
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:250px;
   
}
.golist{
    height:50px;
    width:450px;
    /* background-color: aquamarine; */
    line-height: 50px;
   
    
}

.golistpan{
    float: left;
    /* display: none; */
    background-color: white;
    
}
.golist:hover{
    border-bottom: 1px dotted #44B88D;
}

.godate{
    height:50px;
    width:150px;
    /* background-color: aquamarine; */
    line-height: 50px;
    /* float: left; */
    text-align: center;
    /* display: none; */
    position: absolute;
    left:450px;
}
.munlist{
    height:50px;
    width:450px;
    /* background-color: rgb(255, 236, 127); */
    line-height: 50px;
}
.munlist:hover{
    border-bottom: 1px dotted #44B88D;
}
.munlistpan{
    float: left;
    background-color: white;
}
.mundate{
    height:50px;
    width:150px;
   
    line-height: 50px;
    float: left;
    text-align: center;
    position: absolute;
    left:450px;
    
}
.youtube{
    position: absolute;
    top:0px;
    left:600px;
    overflow: hidden;
}
.contents>div:first-child{
    width:calc((100% - 1px)/ 5);
    height:200px;
    
    background-color:#44B88D;
    float: left;
    margin-top: 100px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border: 1px solid #e1e1e1;
   
    box-sizing: border-box;
}
.contents>div:first-child>a{
    color:white;
}

.contents>div:nth-child(2){
    width:calc((100% - 1px)/ 5);
    height:200px;
    /* background-color: rgb(115, 255, 0); */
    float: left;
    margin-top: 100px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1; 
    box-sizing: border-box;
}
.contents>div:nth-child(3){
    width:calc((100% - 1px)/ 5);
    height:200px;
    /* background-color: rgb(0, 132, 255); */
    float: left;
    margin-top: 100px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1; 
    box-sizing: border-box;
}
.contents>div:nth-child(4){
    width:calc((100% - 1px)/ 5);
    height:200px;
    /* background-color: rgb(255, 206, 222); */
    float: left;
    margin-top: 100px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1; 
    box-sizing: border-box;
}
.contents>div:last-child{
    width:calc((100% - 1px)/ 5);
    height:200px;
    /* background-color: rgb(194, 58, 92); */
    float: left;
    margin-top: 100px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    box-sizing: border-box;
    
}
.mailTitle{
    width:1200px;
    height:50px;
    /* background-color: antiquewhite; */
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
}
.txt{
    width:1200px;
    height:50px;
    /* background-color: antiquewhite; */
    text-align: center;
    line-height: 50px;
}
form{
    text-align: center;
    margin-top: 20px;
}

input:first-child{
    width:200px;
    height: 50px;
    border-radius: 5px;
    border:1px solid #e1e1e1;
}
input:nth-child(2){
    width:300px;
    height: 50px;
    border-radius: 5px;
    border:1px solid #e1e1e1;
}
button{
    width:120px;
    height:40px;
    border-radius: 30px;
    border:1px solid #e1e1e1;
    font-weight: 200;
    font-size:15px;

    
}
button:first-child{
    background-color:#44B88D;
}
.footleft{
    width:800px;
    float: left;
}
.footmenu{
    width:800px;
    display: inline-block;
}
.footright{
    width:400px;
    float: left;
}
form>div{
    height:100px;
    line-height: 100px;
}
.footmenu>ul>li{
    float: left;
    font-size: 15px;
    margin-left: 20px;
}
/* .footleft>div{
    font-size: 15px;
   
} */
.footleft>div:nth-child(3){
    margin-left: 20px;
    height:30px;
    line-height: 30px;
}
.footleft>div:nth-child(4){
    margin-left: 20px;
    height:30px;
    line-height: 30px;
}
.footleft>div:nth-child(5){
    margin-left: 20px;
    height:30px;
    line-height: 30px;
}
select{
    width:150px;
    height:50px;
    line-height: 50px;
    margin-left: 122px;
    margin-top: 25px;
    border-radius:5px;
    border:1px solid #e1e1e1;
    text-align: center;
}
.sns{
    margin-left: 74px;
    margin-top: 75px;
}
.sns>div{
    float: left;
    width:80px;
    height:50px;
    text-align: center;
    line-height: 50px;
}
.logo2{
    width:200px;
    height: 80px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 80px;
}
